<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <div class="center">
  <%= simple_form_for @movie , html: {multipart: true } do |f| %>
    
    <% if @movie.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

        <ul>
        <% @movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <form action="" class="form-horizontal">
    <fieldset>
    
      <div class="form-group">
        <%= f.text_field :title , placeholder: 'Title' , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_area :description , placeholder: 'Description' , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :director , placeholder: 'Director' , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Movie Length: " %>
        <%= f.time_select :movie_length , default: {:hour => '02', :minute => '30'} , class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label "Rating: " %>
        <%= f.select :rating, [['R','R'],['PG-13','PG-13'],['PG','PG'],['G','G']] , class: "form-control tcenter" %>
      </div>

      <div class="form-group">
        <%= f.label "Local File" %>
        <%= f.file_field :image , placeholder: 'Image' , class: "form-control" %>
      </div>
      <p class="tcenter"><strong>OR</strong></p>
      <div class="form-group">
        <%= f.label "From Remote URL" %>
        <%= text_field_tag 'remote_url' , nil , class: "form-control" %>
      </div>

      <div class="actions form-group">
        <%= f.submit "Submit" , :class => "form-control btn btn-primary" %>
      </div>

      <div class="form-group">
        <%= link_to 'Cancel', movies_path , class: "form-control btn btn-danger" %>
      </div>

    </fieldset>
    </form>

  <% end %>
    
  
  </div>
</div> <!-- Ends div.form_partial -->

