<div class="col-md-6 col-sm-6 col-xs-12">

  <h1 class="tcenter"><%= @movie.title %></h1>
  
  <%= image_tag @movie.image.url(:medium) , class: "thumbnail2 img-responsive center-block" %>

  <br>

  <div class="tcenter" style="padding-bottom: 5px;">
    
    <%= link_to 'Edit', edit_movie_path(@movie) , class: "btn btn-primary" %> |
    <%= link_to 'Back', movies_path , class: "btn btn-warning" %> <br><br>

    <p>
      <strong>Description</strong><br>
      <%= @movie.description %>
    </p>

    <p>
      <strong>Movie length:</strong>
      <%= @movie.movie_length %>
    </p>

    <p>
      <strong>Director:</strong>
      <%= @movie.director %>
    </p>

    <p>
      <strong>Rating:</strong>
      <%= @movie.rating %>
    </p>

    

    
  </div>

</div>

<div class="col-md-6 col-sm-6 col-xs-12" style="padding-bottom: 5px;">
    
  <h2 class="tcenter">Reviews</h2>
  <h5 id="avg-Review-Score" class="tcenter">
    <div class="star-average" data-score="<%= @avg_review %>"></div>
  </h5>
    
  <% @movie.reviews.each do |review| %>
        <div class="star-rating" data-score=<%= review.rating %>>
        </div>
        <p>
          <%= review.comment %>
        </p>
        <%= link_to "Edit" , edit_movie_review_path(@movie,review) %>
        <br><br> 
  <% end %>
  <br><br><br>

  <%= link_to 'New Review' , new_movie_review_path(@movie) , class: "btn btn-default form-control" %>
  

</div>

<script>
  $('.star-rating').raty({
    path: '/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });

  $('.star-average').raty({
    path: '/',
    readOnly: true,
    halfShow : true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>